
body {
  margin-top: 5rem;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
}

.nav-item {
  align-self: left;
  padding: .5rem;
}

.nav-link {
  color: black!important;
}

.nav-link:hover {
  color: gray!important;
}

.fixed-background {
  overflow: hidden; 
}

#carousel {
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
}

.carousel-inner {
  max-height: 40rem!important;
}

.carousel-item.next,
.carousel-item.prev,
.carousel-item.active {
  transition: transform 1.2s ease;
}

.contact-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contact-details {
  margin-top: 6rem;
}

.address {
  margin-top: 2rem;
}

form {
  margin-top: 2rem;
}

.form-control {
  width: 400px;
  display: flex;
  background: transparent;
  margin-bottom: .15rem;
}

form .submit {
  background:#383838;
  border-color: #383838;
  color:white;
  font-weight: bold;
}

footer {
  background-color: #383838;
  padding: 1rem 2rem 3rem;
  margin-top: 3rem;
}

footer p, footer a,
.socket a {
  color: white;
  text-decoration: none;
}

ul.social {
  list-style-type: none;
  display: flex;
}

ul.social li {
  margin: 0 auto;
}

.socket {
  background-color: #222222;
  position: absolute;
  width: 100%;
  height: 60px;
}

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}


/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}